<!DOCTYPE html>
<html lang="en">
<head>
    <meta name = "guest" content= "non fiction gaming conhomepage">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/Index_stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap-5.2.1-dist/css/bootstrap.css">
    <script src="/bootstrap-5.2.1-dist/js/bootstrap.js"></script>

    <title>Non Fictional Gaming Convention</title>
</head>
<body>
  <header>
    <a href="/"><img src="/Image/Gaming_logo.png" alt="home"> </a>
</header>

<div class="navbar" id = "navbar">
    <ul >
        <li><a href="/">Home</a></li>
        <li><a href="/Main/guest">Guests</a></li>
        <li><a href="/Connections">Events</a></li>
        <li><a href="/Connections/new">Application</a></li>
        <li><a href="/Main/ticket">Ticket</a></li>
        <li><a href="/Main/faq">FAQ</a></li>
        <li><a href="/Main/about">About us</a></li>
        <li><a href="/Main/TOC">Terms and condition</a></li>

    </ul>
</div>
