<%- include('./partials/header.ejs') %>

    
    <div id="Homepage_content">
        <h2>Error <%=error.status%>:</h2>
        <p><%=error.message%></p>

    </div>

    
    <%- include('./partials/footer.ejs') %>
    