<%- include('./partials/header.ejs') %>

    
    <div id="Homepage_content">
        <h1>Non Fiction Gaming Con</h1><br>
        <p>30th - 31st January 2024</p>
        <p>Non Fiction Gaming Con (NFGC) is an annual gaming convention at hosted by Random ENT Company. Sign up and check out our games tournaments, artist and vendor.</p>
        <div id = "GuestList">
            <a href=""><h2>Guest list</h2></a>
            <ul>
                <li>Guests will be updated soon</li>
            </ul>
            <form action="Guest.html">
                <input type="submit" value="Suggest guest?">
            </form>
        </div>
        
    
        <div id = "Event">
            <a href="/Connections"><h2>Find out what's hapening at NFGC</h2></a>
            <form action = "/Connections/new">
                <input type = "submit" value="Join us now!">
            </form>   
        </div>
        
        


    </div>

    
    <%- include('./partials/footer.ejs') %>
    