<%- include('../partials/header.ejs') %>
    <div id = 'EventDetails'>
        <h2> About the NFGC</h2>
        <p>Non Fictional Gaming Con is a one time two days con. On January 30th-31st, go to a <b>[redacted]</b> location and join the fun with stranger</p>
        <h2>About NFGC website</h2>
        <p>This website is for employee use to schedule and arrange events for the NFGC</p>
    </div>
<%- include('../partials/footer.ejs') %>