<%- include('../partials/header.ejs') %>

    
    <div id="Homepage_content">
       <h2>No FAQ found</h2>
       <form action="/">
         <button>Submit a question</button>
       </form>

    </div>

    
    <%- include('../partials/footer.ejs') %>