<%- include('../partials/header.ejs') %>

    
    <div id="Homepage_content">
       <h2>Terms Of Conditions</h2>
       <ul id = "TOC">
            <li>Dont copy this pls</li>
       </ul>
       

    </div>

    
    <%- include('../partials/footer.ejs') %>